.EmployeeBirthday__title{
    font-size: 22px;
    margin-bottom: 7px;
}

.EmployeeBirthday-date{
    padding-left: 35px;
    position: relative;
}
.EmployeeBirthday-date:before{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4c4b4b;
    position: absolute;
    top: 5px;
    left: 15px;
}