.EmployeeBirthday{
    width: 50%;
}

.EmployeeBirthday h2{
    font-size: 27px;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid black;
    line-height: 35px;
}

.EmployeeBirthday__list{
    padding: 25px;
    border-left: 1px solid black;
    height: 100%;
}

.EmployeeBirthday__list-li{
    font-size: 20px;
    font-weight: 600;
    color: #4c4b4b;
}
.EmployeeBirthday__list-li + .EmployeeBirthday__list-li{
    margin-top: 15px;
}