html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-size: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    font-size: inherit;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Quicksand-Regular' , sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    background-color: #eff1f5;
    color: #242424;
    padding: 0;
}

/*.container {*/
/*    max-width: 100%;*/
/*    margin: 0  auto;*/
/*    padding: 0 15px;*/
/*}*/
.Employee{
    display: flex;
    min-height: 1000px;
}

.Employee-left{
    width: 50%;
}